---
import LayoutAnime from "@/src/layouts/LayoutAnime.astro";
import SeasonUpcoming from "@/src/components/SeasonUpcoming.svelte";
import SeasonNow from "@/src/components/SeasonNow.svelte";
import CategoryAnime from "@/src/components/CategoryAnime.svelte";
import CarouselBanner from "@/src/components/CarouselBanner.svelte";
import Popular from "@/src/components/PopulerAnime.svelte";
---

<LayoutAnime title="wiibucore | animelist">
    <section class="w-full container mx-auto mt-5">
        <div class="flex justify-center gap-5">
            <CarouselBanner client:only="svelte" />
            <Popular client:only="svelte" />
        </div>
        <div class="flex justify-center gap-10">
            <div>
                <h1 class="mt-8 mb-3 text-white text-2xl font-comic-shanns">
                    Category Anime
                </h1>
                <CategoryAnime client:only="svelte" />
            </div>
            <div>
                <h1 class="mt-8 mb-3 text-white text-2xl font-comic-shanns">
                    Season Upcoming
                </h1>
                <SeasonUpcoming client:only="svelte" />
                <h1 class="mt-8 mb-3 text-white text-2xl font-comic-shanns">
                    Season Now
                </h1>
                <SeasonNow client:only="svelte" />
            </div>
        </div>
    </section>
</LayoutAnime>
