---

---

<nav>
    <div class="flex justify-center items-center gap-2 p-5">
        <img class="w-[40px] h-[40px] border-2 rounded-full" src="/favicon.png" alt="logo">
        <h1 class="text-3xl text-white font-comic-shanns">Wiibu<span class="text-primary font-bold">Core</span></h1>
    </div>
</nav>
